<article class="chatrooms container">
  <section class="chatroom-heading">
    <h4 class='sub-heading my-0'>COMMUNITY THREADS</h4>
    <%= link_to new_chatroom_path do %>
      <%= icon('fa', 'edit') %>
    <% end %>
  </section>
  <section class="community-threads">
    <% @chatrooms.each do |chatroom| %>
      <%= link_to chatroom_path(chatroom) do %>
        <div class="community-thread">
          <div class="chatroom-description">
            <% if chatroom.user.avatar.attached? %>
              <%= cl_image_tag chatroom.user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= cl_image_tag "default_avatar_yubqpb", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="chatroom-name-author">
              <p><%= chatroom.name %></p>
              <p><%= chatroom.user.nickname %> · <%= chatroom.messages.count %> comments</p>
            </div>
          </div>
          <% if chatroom.messages.any? %>
            <p class='chatroom-recent-time'>
              <%= distance_of_time_in_words_to_now(chatroom.messages.last.created_at) %>
            </p>
          <% end %>
        </div>
        <hr>
      <% end %>
    <% end %>
  </section>
</article>
