<div class="container">
  <article class="chatroom">
    <div class="chatroom-heading">
      <%= link_to chatrooms_path do %>
        <% icon('fa', 'arrow-circle-left') %>
      <% end %>
      <h4 class="sub-heading"><%= @chatroom.name.upcase %></h4>
      <span></span>
    </div>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <% if message.user == current_user %>
          <article class="message-container my-message">
            <%= render "messages/message", message: message %>
          </article>
        <% else %>
          <article class="message-container">
            <%= render "messages/message", message: message %>
          </article>
        <% end %>
      <% end %>
    </div>
  </article>

  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <div class="field">
      <%#= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}", id: "submit-message" %>
      <%= f.rich_text_area :content, label: false, placeholder:  "Message ##{@chatroom.name}", id: "submit-message" %>
      <%= f.submit %>
    </div>
  <% end %>
</div>
