<div class="banner">
  <h1>
    <span class='leaf'>🌱</span>Plant<span>ernative</span>
  </h1>
  <p>Keep calm, plants do have protein</p>
  <%= render 'shared/search_form' %>
</div>

<div class="landing-page-container">
  <div class="landing-page-cards container">
    <div class="landing-page-card">
      <%= link_to products_path do %>
        <h2><span>🌾</span>Explore</h2>
      <% end %>
      <p>Browse through a wide range of plant-based products</p>
    </div>
    <div class="landing-page-card">
      <h2><span>🌻</span>Discover</h2>
      <p>Be inspired by our Planternative community blogs</p>
    </div>
    <div class="landing-page-card">
      <% if user_signed_in? %>
        <%= link_to myprofile_path(current_user.nickname) do %>
          <h2><span>🌿</span>Change</h2>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path do %>
          <h2><span>🌿</span>Change</h2>
        <% end %>
      <% end %>
      <p>See what positive impact your choices have on our planet</p>
    </div>
    <div class="landing-page-card">
      <%= link_to chatrooms_path do %>
        <h2><span>🎋</span>Discuss</h2>
      <% end %>
      <p>Browse through a wide range of plant-based products</p>
    </div>
  </div>
</div>

<div class="footer-container">
  <div class="footer-contents">
    <p>Anything you want to share with us?</p>
    <a href="mailto:hello@planternative.co.uk">Contact us</a>
    <%= icon("fa", "facebook-square") %>
  </div>
</div>
