<h3 class="green-header">MY ECO SCORE</h3>
<h1>Hello, <%= current_user.first_name %> ~ </h1>

<h4><%= link_to "Edit your profile", user_registration_path, method: :patch %></h4>

<h2>Your eco-score</h2>
<% water = 0 %>
<% energy = 0 %>
<% @shopping_lists.each do |shopping_list| %>
  <% shopping_list.quantities.each do |q| %>

    <% water += q.product.water_saved * q.quantity %>
    <% energy += q.product.energy_saved * q.quantity %>
  <% end %>
<% end %>
<p> <%= water %> litres of water saved</p>
<p> <%= energy %>kg of CO2 saved</p>

<h2>Your shopping lists</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Items</th>
  </tr>
  <% @shopping_lists.each do |shopping_list| %>
    <tr>
      <td><%= shopping_list.date %></td>
      <td><%= shopping_list.products.count %></td>
      <td><%= link_to "See details", shopping_list_path(shopping_list) %></td>
    </tr>
  <% end %>
</table>

<h2>Your planternative</h2>
<p><%= @products.count %> alternatives added</p>
<p><%= @reviews.count %> reviews posted</p>
<p>1 chatroom created</p> <!-- Not created yet -->
<p>0 articles published</p> <!-- Not created yet -->
<p>*become a Champion to get started</p>
