<div class="container">
  <section class="myprofile-section">
    <h3 class="green-header">MY ECO SCORE</h3>
    <section class="my-eco-score">
      <% water = 0 %>
      <% energy = 0 %>
      <% @shopping_lists.each do |shopping_list| %>
        <% shopping_list.quantities.each do |q| %>
          <% water += q.product.water_saved * q.quantity %>
          <% energy += q.product.energy_saved * q.quantity %>
        <% end %>
      <% end %>
      <div class="eco-score">
        💧
        <div class="sum-saved">
          <h5 style="color: black;"> <strong> <%= water %> litres </strong></h5>
          <p> of water </p>
        </div>
      </div>
      <div class="eco-score">
        ✈️
        <div class="sum-saved">
          <h5 style="color: black;"> <strong> <%= energy %> kg </strong></h5>
          <p> of CO2 </p>
        </div>
      </div>
    </section>
  </section>

  <section class="myprofile-section">
    <h3 class="green-header">MY SHOPPING LISTS </h3>
    <table>
      <tr>
        <th>Date</th>
        <th>Items</th>
      </tr>
      <% @shopping_lists.each do |shopping_list| %>
        <tr>
          <td><%= shopping_list.date %></td>
          <td><%= shopping_list.products.count %></td>
          <td><%= link_to "See details", shopping_list_path(shopping_list) %></td>
        </tr>
      <% end %>
    </table>
  </section>

  <section class="myprofile-section">
    <h3 class="green-header">MY RECENT ACTIVITY</h3>
    <p><%= @products.count %> alternatives added</p>
    <p><%= @reviews.count %> reviews posted</p>
    <p>1 chatroom created</p> <!-- Not created yet -->
    <p>0 articles published</p> <!-- Not created yet -->
    <p>*become a Champion to get started</p>
  </section>

  <section class="myprofile-section">
    <h3 class="green-header">MISC</h3>
    <%= link_to "Edit your profile", user_registration_path, method: :patch %>
  </section>

</div>
