<div class="container shopping-list-page">
  <h4 class="green-header">MY SHOPPING LIST</h4>
  <% if @shopping_list.quantities.empty? %>
    <div class="empty-list">
      <p>It seems there are no products in your shopping list</p>
      <p>
        <%= link_to 'Start browsing', products_path %>
      </p>
    </div>
  <% else %>
    <% if !@shopping_list.mark_as_done %>
      <table class="styled-table sl-table">
        <th class="table-header">Product name</th>
        <th class="table-header" style="padding-right: 43px;">Quantity</th>
        <% @shopping_list.quantities.each do |quantity| %>
          <tr>
            <td class="black name-table"><%= quantity.product.name %></td>
            <td>
              <%= simple_form_for quantity, method: :patch do |f| %>
                <div class="d-flex align-items-start" style="margin-left: 18px">
                <%= f.input :quantity, input_html: { min: '0', style: 'width: 40px !important; padding: 14px !important; height : 40px !important' }, label: false %>
                </div>
              <% end %>
            </td>
            <td class="table-bin green-link"><%= link_to quantity_path(quantity), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= icon("fa", "trash") %>
            <% end %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <table class="styled-table sl-table">
        <th class="table-header">Product name</th>
        <th class="table-header" style="padding-right: 15px;">Quantity</th>
        <% @shopping_list.quantities.each do |quantity| %>
          <tr>
            <td class="black name-table"><%= quantity.product.name %></td>
            <td class="black center" style="padding-right: 30px;"><%= quantity.quantity %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>

  <br>
  <h4 class="green-header">LIST ECO-SCORE</h4>
  <section class="my-eco-score">
    <% water = 0 %>
    <% energy = 0 %>
    <% @shopping_list.quantities.each do |q| %>
      <% water += q.product.water_saved * q.quantity %>
      <% energy += q.product.energy_saved * q.quantity %>
    <% end %>
    <div class="eco-score">
      <div class="emoji"><p id="drop">💧</p></div>
      <div class="sum-saved">
        <h5 style="color: black;"> <strong> <%= water %> </strong></h5>
        <p> of water </p>
      </div>
    </div>
    <div class="eco-score">
      <div class="emoji"><p>✈️</p></div>
      <div class="sum-saved">
        <h5 style="color: black;"> <strong> <%= energy %> kg </strong></h5>
        <p> of CO2 </p>
      </div>
    </div>
  </section>
</div>


<% if @shopping_list.mark_as_done == false %>
  <footer class="results-footer-sl">
    <%= link_to mark_as_done_path(@shopping_list), method: :patch do %>
      <button type="button" class="quantity-button-sl">Mark this list as complete</button>
    <% end %>
  </footer>
<% end %>
