<div class="container">
  <p>My current shopping list</p>
  <ol>
    <% @shopping_list.quantities.each do |quantity| %>
      <li> <%= quantity.product.name %> <%= quantity.quantity %> </li>
      <% if !@shopping_list.mark_as_done %>
        <%= simple_form_for quantity, method: :patch do |f| %>
          <%= f.input :quantity, input_html: { min: '0' } %>
          <%= f.submit %>
        <% end %>
      <% end %>
      <%= link_to quantity_path(quantity), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <%= icon("fa", "trash") %>
      <% end %>
    <% end %>
  </ol>
</div>
