<div class="container">
  <p>My shopping list</p>
  <table class="styled-table">
    <% @shopping_list.quantities.each do |quantity| %>
      <tr>
        <td><%= quantity.product.name %></td>
        <td><%= quantity.quantity %></td>
      </tr>
      <tr>
        <% if !@shopping_list.mark_as_done %>
          <%= simple_form_for quantity, method: :patch do |f| %>
            <%= f.input :quantity, input_html: { min: '0' } %>
            <%= f.submit %>
          <% end %>
        <% end %>
      </tr>
      <tr>
        <%= link_to quantity_path(quantity), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= icon("fa", "trash") %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
