<div class="products-container">
  <div class="product-cards container">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
        <div class="product-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path product.images.first&.key || 'b89pmjwcw7w7klcpubjw', crop: :fill, width: 360 %>')">
          <div class="product-info">
            <h4>
              <% if product.gluten_free == true %>
                <icon class="product-icon">🌾</icon>
              <% end %>
              <% if product.high_protein == true %>
                <icon class="product-icon">🥜</icon>
              <% end %>
              <% if product.low_cal == true %>
                <icon class="product-icon">🍿</icon>
              <% end %>
              <%= product.name %>
            </h4>
            <% nearest_store = product.stores.select { |store| store.latitude.is_a?(Float) && store.longitude.is_a?(Float) }.sort_by { |store| store.distance_to(@user_location) }.first || product.stores.sample %>
            <h5><%= nearest_store.name %> · <%= nearest_store.distance_to(@user_location).nil? ? rand(0.1..2.0).round(1) : (nearest_store.distance_to(@user_location)).round(1) %> mi</h5>
            <div class="product-review-price">
              <div class="product-review">
                <% if product.reviews.length == 0 %>
                  <span>No reviews yet</span>
                <% else %>
                  <% average_rating = product.reviews.map { |review| review.rating }.reduce(:+) / product.reviews.count %>
                  <span><%= "⭐"* average_rating%></span>
                <% end %>
                <% if product.reviews.count > 0 %>
                  <span>(<%= product.reviews.count %>)</span>
                <% end %>
              </div>
              <p class="product-price"><%= product.price_range %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if @products.empty? %>
       <div class="product-card" style="opacity: 0">
          <div class="product-info" style="opacity: 0">
            <div class="product-review-price" style="opacity: 0">
              <div class="product-review" style="opacity: 0">
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
