<div class="products-container">
  <div class="product-cards container">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
        <div class="product-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path product.images.first&.key || 'b89pmjwcw7w7klcpubjw', crop: :fill, width: 360 %>')">
          <div class="product-info">
            <h4>
              <% if product.gluten_free == true %>
                <icon class="product-icon">🌾</icon>
              <% end %>
              <% if product.high_protein == true %>
                <icon class="product-icon">🥜</icon>
              <% end %>
              <% if product.low_cal == true %>
                <icon class="product-icon">🍿</icon>
              <% end %>
              <%= product.name %>
            </h4>
            <h5><%= product.stores.first.name %> · 8km</h5>
            <div class="product-review-price">
              <div class="product-review">
                <% ratings = [] %>
                <% product.reviews.each do |review| %>
                  <% ratings << review.rating %>
                <% end %>
                <% if ratings.length == 0 %>
                  <span>No reviews yet</span>
                <% else %>
                  <% average_rating = ratings.sum/ratings.length%>
                  <span><%= "⭐"* average_rating%></span>
                <% end %>
                <% if product.reviews.count > 0 %>
                  <span>(<%= product.reviews.count %>)</span>
                <% end %>
              </div>
              <p class="product-price"><%= product.price_range %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if @products.empty? %>
       <div class="product-card" style="opacity: 0">
          <div class="product-info" style="opacity: 0">
            <div class="product-review-price" style="opacity: 0">
              <div class="product-review" style="opacity: 0">
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
