<div class="products-container">
  <div class="product-cards container">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
        <div class="product-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path product.images.first&.key || 'b89pmjwcw7w7klcpubjw', crop: :fill, width: 360 %>')">
          <div class="product-info">
            <div class="product-name">
              <h5><%= product.name %></h5>
            </div>
            <div class="product-review-price">
              <div class="product-review">
                <% ratings = [] %>
                <% product.reviews.each do |review| %>
                  <% ratings << review.rating %>
                <% end %>
                <% if ratings.length == 0 %>
                  <span>No reviews yet</span>
                <% else %>
                  <% average_rating = ratings.sum/ratings.length%>
                  <span><%= "â­"* average_rating%></span>
                <% end %>
                <% if product.reviews.count > 0 %>
                  <span>(<%= product.reviews.count %>)</span>
                <% end %>
              </div>
              <p class="product-price"><%= product.price_range %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
