<div class="container">
  <div class="index-title">
    <h1>All Products</h1>
    <% if @products&.count == 1 && !params[:query].nil? && !params[:query].empty? %>
      <h2><%= @products.count %> result for <%= params[:query] %></h2>
    <% elsif @products&.count > 1 && !params[:query].nil? && !params[:query].empty? %>
      <h2><%= @products.count %> results for <%= params[:query] %></h2>
    <% end %>

    <% if @products&.empty? %>
      <h2>Sorry! We haven't found any products that match your search (yet!)</h2>
    <% end %>
  </div>
</div>
<%= render 'products/product_card' %>
<div class="container">
  <p>Looking for something else?</p>
  <%= render 'shared/search_form' %>
</div>

