<article class="container">

  <section class="product-header product-section">
    <h3> <%= @product.name %> </h3>
    <div class="product-image-quantity">
      <%= cl_image_tag(@product.images.first&.key || 'b89pmjwcw7w7klcpubjw', crop: :fill, width: 360) %>
      <% if user_signed_in? %>
        <%= render 'shared/quantity_form' %>
      <% end %>
    </div>
  </section>

  <section class="product-description product-section">
    <h4 class="sub-heading">PRODUCT DETAILS</h4>
    <p> <%= @product.description %> </p>
  </section>

  <section class="product-description product-section">
    <h4 class="sub-heading">LOCATIONS</h4>
    <% @product.stores.each do |store| %>
      <p><strong><%= store.name %></strong> · <%= store.address %> </p>
    <% end %>
  </section>

</article>

<div id="map"
     style="width: 100%;
     height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<article class="container">
  <%= render 'shared/review_form' %>
  <% @product.reviews.reverse.each do |review| %>
    <% review.rating.times do %>
      ⭐
    <% end %>
    <p><%= review.content %></p>
    <p>Added by: <%= review.user.nickname %></p>
  <% end %>
</article>
