<article class="container">

  <section class="product-header product-section">
    <h3> <%= @product.name %> </h3>
    <div class="product-image-quantity">
      <%= cl_image_tag(@product.images.first&.key || 'b89pmjwcw7w7klcpubjw', crop: :fill, width: 360) %>
      <% if user_signed_in? %>
        <%= render 'shared/quantity_form' %>
      <% end %>
    </div>
  </section>

  <section class="product-description product-section">
    <h4 class="sub-heading">PRODUCT DETAILS</h4>
    <p> <%= @product.description %> </p>
  </section>

  <section class="product-description product-section">
    <h4 class="sub-heading">LOCATIONS</h4>
    <% @product.stores.select { |store| store.latitude.is_a?(Float) && store.longitude.is_a?(Float) }.sort_by { |store| store.distance_to(@user_location) }.slice(0,5).each do |store| %>
      <p><strong><%= store.name %></strong> · <%= store.address %> · <%= store.distance_to(@user_location).round(1) %> mi</p>
    <% end %>
  </section>

</article>


<div id="map" class="product-map"

     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>



 <article class="container">
  <%= render 'products/product_show_tabs' %>

  <section class="product-review product-section">
    <h4 class="sub-heading">REVIEWS</h4>
    <% @product.reviews.reverse.each do |review| %>
      <h6>"<%= review.content %>"</h6>

      <div class="avatar-rating">
        <% if user_signed_in? && current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= cl_image_tag "default_avatar_yubqpb", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>

        <div class="stars-nickname">
          <div class="rating-stars">
            <% review.rating.times do %>
              <span>⭐</span>
            <% end %>
          </div>
          <i><%= review.user.nickname %></i>
        </div>
      </div>
      <hr>
    <% end %>
    <% if user_signed_in? %>
      <%= render 'shared/review_form' %>
    <% end %>
  </section>

 </article>


<article class="may-like-container">
  <section class="may-like">
    <h4 class="sub-heading container">YOU MAY ALSO LIKE</h4>

    <% @products = Product.all.select { |product| product != @product && product.high_protein == @product.high_protein && product.gluten_free ==  @product.gluten_free && product.low_cal == @product.low_cal } %>
    <% @products = @products.any? ? [ @products.sample ] : [ Product.all.reject { |product| product == @product }.sample ] %>

    <%= render 'products/product_card' %>
  </section>
</article>






